.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image:url(../desenhos-link/Menu.svg);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;

}
.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.cabecalho .container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;

}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao {
    display: none; /*Aqui eu omito do checked box do minha página*/

}

.lista-menu__título,
.lista-menu__item {
    padding: 0.5em;
    background-color: var(--branco);
}

.lista-menu__título {

    color: var(--laranja);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.lista-menu__link {
    
    background:var(--azul-degrade);
    -webkit-background-clip: text;/*Os webkit servem para os outros navegadores aceitarem o efeito*/
    -webkit-text-fill-color: transparent;
    background-clip: text;/*coloca o background azul degrader somente no texto;*/
    text-transform: uppercase;    
}